html,body 
{
    height: 100%; /* 设置容器的宽度，可以根据需要调整 */
    padding: 0;
    background-color: #e4c7a5;

    margin: 0px;
    display: flex; /* 设置为弹性盒子 */
    justify-content: flex-end; /* 将图片放置在容器的右侧 */
    align-items: flex-end; /* 将图片放置在容器的底部 */

}

#tu {
    max-width: 15%; /* 设置图片的最大宽度，避免图片超出容器 */
    user-select:none;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}