@font-face {
    font-family: FRANKGO;
    src: url('../../res/fonts/FRANKGO.ttf');
}

html{
    width:100%;
	height:100%;
    
}

body{
    width:100%;
    height:100%;
    padding: 0px;
    margin: 0px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    font-family:'FRANKGO';
    width: 60vw;
    height: 37.08vw;
    border-radius: 0.5vw;
    background: #e0e0e0;
    box-shadow:  13px 13px 28px #bcbcbc,
                -13px -13px 28px #ffffff;
    backface-visibility:hidden;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#companyName {
    padding: 3vw;
    font-size: 4vw;
    color: rgb(28, 28, 28);
    user-select: none;
    font-weight: bolder;
}

#info {
    font-size: 1.1vw;
    padding-top: 8vw;
    padding-left: 3vw;
    color: rgb(28, 28, 28);
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

#name {
    font-size: 3vw;
    font-weight: bolder;
}

#career {
    padding-top: 0.8vw;
}

#number {
    padding-top: 0.8vw;
}

#e-mail {
    color: inherit;
    text-decoration: none;
}

#website {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
hr {
    border: none;
    border-top: 0.8vw solid rgb(28, 28, 28);
    transform: translateX(-3vw);
}