@font-face {
    font-family: EffortsPro;
    src: url('/res/fonts/EffortsPro.woff');
}

#mainCav {
    color:black;
    font-size: 15px;
}

#head {
    font-family: 'EffortsPro';
    user-select: none;
    font-size: 30px;
}

a {
    user-select: none;
    font-family: 'EffortsPro';
}

ul
{
    list-style-type: none;
}

#Intro {
    text-decoration: none;
    color: black;
}