window {
    width: 250px;
    height: 90px;
    position: absolute;
    top: calc(50vh - 45px);
    left: calc(50vw - 125px);
    z-index: 0;
    contain: layout;
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-width: 2px 2px;
    padding: 2px;
    background: var(--ButtonFace);
    border-color: var(--ButtonLight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonLight);
}

windowTitlebar {
    height: 18px;
    font-weight: bold;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;

    background: linear-gradient(to right, var(--ActiveTitle) 0%, var(--GradientActiveTitle) 100%);
}

.windows-title {
    display: inline-block !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;
    color: white;
    font-weight: bold;

    position: relative;
    flex: 1;
}

.winbarbutton {
    display: block;
    width: 16px;
    height: 14px;
    padding: 0;
    margin: 2px 0;

    border-width: 1.8px 1.8px;

    border-color: var(--ButtonLight) var(--ButtonShadow) var(--ButtonShadow) var(--ButtonLight);
    background-color: var(--ButtonFace);
    position: relative;
    outline: none;
}

.winbaricon {
    display: block;
    --sprite-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAKCAYAAADo3z3CAAAAoUlEQVRIS9VVWw7AIAib9z/0FpZgCOFRgpluf9MClhYdV++7gfDhYLxYDw+UyiHd5F8S5lr6zNa6Xpv/KwhHOahQpLB1+CwfycgYrwmE0WK8MTsIR1aOGsR+NYkkYzN5/pGwVA9xA/diq8LeHCKuQxQ+aoYt2yJWtpSNZth0edRpGVC5eGQcSg4hXLml3fdpBeHs8evWyPKX9ruXVqnYCeAHA8IyC9K2kmkAAAAASUVORK5CYII=);
    --sprite-y: 0;
    image-rendering: pixelated;
    width: 12px;
    height: 10px;
    position: relative;
    pointer-events: none;
}